server {
    listen $PORT;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /firebase-messaging-sw.js {
        add_header Cache-Control "no-cache";
        add_header Service-Worker-Allowed "/";
    }

    location /flutter_service_worker.js {
        add_header Cache-Control "no-cache";
    }
}
